<div class="container" style="background-image: url('bus.jpg')">
    <img src="assets/bus.jpg" alt="Blue Bus" style="width:100%;height: 100%;">
    <div class="sucessPopUp" id="myPopUp">
        <form class="form-container">
          <h1>Operação Bem Sucedida</h1>
          <button routerLink="/home">Voltar</button>
        </form>
      </div>
</div>