.container img {
  background-image: url(../../assets/bus.jpg);
  width: 100%;
  height: auto;
  position: absolute;
  right: 0;
}

h1 {

  text-align: left;
  color: rgb(255, 255, 255);
}


/* Add styles to the form container */
.form-container {
  position: absolute;
  top: 20%;
  left: 40%;
  right: 40%;
  padding-bottom: 100px;
  
  border-radius: 25px;
  border-bottom-style: solid;
  border-color: #50e54b;

  background-color: rgb(28, 78, 170);

}

.form-container h1{
  padding-left: 20px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.form-container button {
  position: absolute;
  display: inline-block;

  top: 50%;
  left: 30%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: 15px;
  background-color: rgb(64, 192, 171);
  color: white;
  font-size: 20px;
  padding: 12px 24px;
  border: 5px solid #ffffff;
  cursor: pointer;
  border-radius: 5px;
}
