<h2>Criar Nó</h2>


<form [formGroup]="createNoForm" (ngSubmit)="onSubmit(createNoForm.value)">

    <h4>Inserir dados</h4>

    <div class="nomeDiv">
        <label id="nomeLabel" for="nome"><br>
            Nome
        </label>
        <input id="nome" type="text" formControlName="nome" (change)="nomeChange($event)" maxlength="200">
        <b id="nomeText" class="nomeText">O nome do Nó introduzido é inválido ou já está a ser usado!</b>
    </div>

    <div class="latitudeDiv">
        <label id="latitudeLabel" for="latitude"><br>
            Latitude
        </label>
        <input id="latitude" type="number" formControlName="latitude" (change)="latitudeChange($event)">
        <b id="latitudeText" class="latitudeText">Introduza uma latitude válida.</b>
    </div>

    <div class="longitudeDiv">
        <label id="longitudeLabel" for="longitude"><br>
            Longitude
        </label>
        <input id="longitude" type="number" formControlName="longitude" (change)="longitudeChange($event)">
        <b id="longitudeText" class="longitudeText">Introduza uma longitude válida.</b>
    </div>

    <div class="abreviaturaDiv">
        <label id="abreviaturaLabel" for="abreviatura"><br>
            Abreviatura
        </label>
        <input id="abreviatura" type="text" formControlName="abreviatura" (change)="abreviaturaChange($event)"
            maxlength="20">
        <b id="abreviaturaText" class="abreviaturaText">A abreviatura do Nó introduzido é inválida ou já está a ser
            usada!.</b>
    </div>

    <label id="estacaoPontotextLabel"><br>
        Caso seja Estação de Recolha e/ou Ponto de Rendicao:
    </label>
    <div class="isEstacaoRecolhaDiv">
        <label id="isEstacaoRecolhaLabel" for="isEstacaoRecolha"><br>
            Estação de Recolha?
            <input id="isEstacaoRecolha" type="radio" formControlName="isEstacaoRecolha" [value]="true"
                normalize={normalizeBoolean} [(ngModel)]="isEstacaoRecolha">Sim
            <!-- <input id="isEstacaoRecolha" type="radio" formControlName="isEstacaoRecolha" [value]="false"
                normalize={normalizeBoolean} [(ngModel)]="isEstacaoRecolha" checked>No -->
            <b id="isEstacaoRecolhaText" class="isEstacaoRecolhaText">Escolha uma opção!</b>
        </label>
    </div>

    <div class="isPontoRendicaoDiv">
        <label id="isPontoRendicaoLabel" for="isPontoRendicao"><br>
            Ponto de Rendição?
            <input id="isPontoRendicao" type="radio" formControlName="isPontoRendicao" [value]="true"
                normalize={normalizeBoolean} [(ngModel)]="isPontoRendicao">Sim
            <!-- <input id="isPontoRendicao" type="radio" formControlName="isPontoRendicao" [value]="false"
                normalize={normalizeBoolean} [(ngModel)]="isPontoRendicao" checked>No -->
            <b id="isPontoRendicaoText" class="isPontoRendicaoText">Escolha uma opção!</b>
        </label>
    </div>


    <div class="capacidadeDiv">
        <label id="capacidadeLabel" for="capacidade"><br>
            Capacidade de Veículos
        </label>
        <input id="capacidade" type="number" formControlName="capacidade" (change)="capacidadeChange($event)">
        <b id="capacidadeText" class="capacidadeText">Introduza a capacidade de viaturas.</b>
    </div>

    <div class="tempoMaxParagemDiv">
        <label id="tempoMaxParagemLabel" for="tempoMaxParagem"><br>
            Tempo Máximo de Paragem (minutos)
        </label>
        <input id="tempoMaxParagem" type="number" formControlName="tempoMaxParagem"
            (change)="tempoMaxParagemChange($event)">
        <b id="tempoMaxParagemText" class="tempoMaxParagemText">Introduza um tempo válido.</b>
    </div>

    <div class="modeloDiv">
        <label id="modeloLabel" for="modelo"><br>Modelo
        </label>
        <select formControlName="modelo" id="modelo">
          <option value="Esfera">Esfera</option>
          <option value="Cubo">Cubo</option>
          <option value="Cilindro">Cilindro</option>
        </select>
        <br>
      </div>

    <br><button id="submitButton" class="button" type="submit" style='margin:5px'>Submeter dados</button>
    <br><button id="returnButton" class="button" routerLink='/listar_nos' type="button" style='margin:5px'>Voltar</button>

    <b id="finalText" class="finalText">Nó não criado. Reveja os dados.</b><br>

    <!-- Reset info 
    <input type="reset" style="margin:25px;">
    -->

</form>