body {
  background-color: powderblue;
}

h2 {
  background: rgb(107, 163, 185);
  text-align: center;
}

form {
  float: left;
  font-size: 20px;
  line-height: 0.72em;
  padding: 35px;
  border-radius: 10px;
}

.nomeDiv .nomeText {
  color: rgb(241, 33, 33);
  font-size: small;
  visibility: hidden;
}

.latitudeDiv .latitudeText {
  color: rgb(241, 33, 33);
  font-size: small;
  visibility: hidden;
}

.longitudeDiv .longitudeText {
  color: rgb(241, 33, 33);
  font-size: small;
  visibility: hidden;
}

.abreviaturaDiv .abreviaturaText {
  color: rgb(241, 33, 33);
  font-size: small;
  visibility: hidden;
}

.isEstacaoRecolhaDiv .isEstacaoRecolhaText {
  color: rgb(241, 33, 33);
  font-size: small;
  visibility: hidden;
}

.isPontoRendicaoDiv .isPontoRendicaoText {
  color: rgb(241, 33, 33);
  font-size: small;
  visibility: hidden;
}

.capacidadeDiv .capacidadeText {
  color: rgb(241, 33, 33);
  font-size: small;
  visibility: hidden;
}

.tempoMaxParagemDiv .tempoMaxParagemText {
  color: rgb(241, 33, 33);
  font-size: small;
  visibility: hidden;
}

.finalText {
  color: rgb(241, 33, 33);
  font-size: small;
  visibility: hidden;
}
