<div class="container" style="background-image: url('bus.jpg')">
    <img src="assets/bus.jpg" alt="Blue Bus" style="width:100%;height: 100%;">



    <form [formGroup]="createRegistoForm" (ngSubmit)="onSubmit(createRegistoForm.value)">


        <h2>Registar Utilizador</h2>

        <div class="emailDiv">
            <label id="emailLabel" for="email"><br>
                Email
            </label>
            <input id="email" type="email" formControlName="email" (change)="emailChange($event)" />
            <b id="emailText" class="emailText">Introduza um email válido.</b>
        </div>

        <div class="usernameDiv">
            <label id="usernameLabel" for="username"><br>
                Username
            </label>
            <input id="username" type="text" formControlName="username" (change)="usernameChange($event)" />
            <b id="usernameText1" class="usernameText1">Username inválido! (5 caracteres).</b>
            <b id="usernameText2" class="usernameText2">Username já existe!</b>
        </div>

        <div class="passwordDiv">
            <label id="passwordLabel" for="password"><br>
                Password
            </label>
            <input id="password" type="password" formControlName="password" (change)="passwordChange($event)" />
            <b id="passwordText" class="passwordText">Introduza a password (6 caracteres).</b>
        </div>

        <div class="password_repeatDiv">
            <label id="password_repeatLabel">
                Confirmar Password
            </label>
            <input id="password_repeat" type="password" (change)="password_repeatChange($event)" />
            <b id="password_repeatText" class="password_repeatText">Passwords não coincidem!</b>
        </div>

        <div class="termosDiv" style="display: inline-flex;">
            <button id="termosButton" type="button" (click)="mostrarTermos()" style="font-size: 13px;">Consultar Termos
            </button>
            <div class="termosBox" id="termosBoxId">

                <!-- <div class="scroll-box">   -->

                <h2> Informações relativas à recolha de dados pessoais: </h2>
                <div class="text">
                    <p>• O responsável pelo tratamento dos dados é a Autoridade Intermunicipal de Transportes (AIT),
                        sediada
                        na Rua
                        Doutor António Bernardino de Almeida, Porto, Portugal. Pode ser contactada através do correio
                        eletrónico
                        ait@isep.pt.</p>
                    <p>• Não existem encarregados da proteção de dados.</p>
                    <p>• Os dados pessoais a recolher serão utilizados com as seguintes finalidades: mensagens
                        personalizadas,
                        envio de correio para fins não publicitários (como atualizações da aplicação), emissão de
                        faturas,
                        dupla
                        autenticação e sugestões de viagens personalizadas. O fundamento jurídico para todos os dados
                        recolhidos é o
                        consentimento do titular dos dados.</p>
                    <p>• Não existe interesse legítimo por parte do responsável do tratamento dos dados.</p>
                    <p>• Não existem destinatários dos dados pessoais recolhidos.</p>
                    <p>• Não existe intenção de transferir dados pessoais para um país terceiro ou uma organização
                        internacional.
                    <p>• Os dados recolhidos são conservados durante um prazo de até seis meses após a inatividade do
                        titular dos
                        dados na aplicação.</p>
                    <p>• O titular dos dados tem o direito de solicitar o acesso aos seus dados, à sua retificação e ao
                        seu
                        apagamento. Para além disso o titular dos dados tem ainda o direito à limitação do tratamento
                        dos
                        dados, o
                        direito de se opor ao tratamento, bem como o direito à portabilidade destes. Todos estes
                        direitos
                        podem ser
                        exercidos contactando o responsável pelo tratamento dos dados na forma de correio eletrónico.
                    </p>
                    <p>• O titular dos dados tem o direito de retirar o consentimento dos dados em qualquer altura,
                        podendo
                        tal ser
                        exercido diretamente pela aplicação, na área de utilizador.</p>
                    <p>• O titular dos dados tem o direito de apresentar reclamação à autoridade de controlo, neste
                        caso, a
                        Comissão Nacional de Proteção de Dados.</p>
                    <p>• Não existe qualquer obrigação legal ou contratual na comunicação e fornecimento de dados
                        pessoais.
                    </p>
                    <p>• Não existem decisões automatizadas no processo de tratamento de dados pessoais.</p>
                    <p>• Caso haja intenção de proceder ao tratamento posterior dos dados pessoais para outro fim que
                        não
                        aquele
                        para o qual os dados foram recolhidos, serão dadas informações sobre tal tratamento.</p>
                </div>



                <div class="confirmarTermosDiv" style="display:inline-flex;">
                    <br><button id="backToRegisterButton" class="backToRegisterButton" (click)="hideTermos()"
                        type="button">Voltar</button>

                    <div class="divider"></div>

                    <div class="checkboxesDiv" style="margin-top: 30px;">
                        <input id="concordaTermos" type="checkbox" >
                        <label style="font-weight:bold;"> Concordo com os termos </label>
                    </div>
                </div>



            </div>
        </div>


        <b id="termosText" class="termosText"><br>Para se registar é necessário concordar com os termos!</b>

        <div style="display:inline-flex;">
            <button id="submitButton" class="button" type="submit">Registar Utilizador</button>
            <div class="divider"></div>
            <br><button id="dashboardButton" class="button" routerLink="/dashboard" type="button">Voltar</button>
        </div>
        <div class="falhaTextDiv">
            <b id="falhaTextLabel" class="falhaText">Utilizador não registado! Reveja os dados.</b><br>
        </div>


    </form>

</div>