form{
    display: inline-block;
   }
  
  
  
  .container img {
    background-image: url(../../assets/bus.jpg);
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
   }
  
  
   .container form{
    position: absolute;
    top: 4%;
    left: 25%;
    right: 25%;
    background-color: rgb(24, 100, 110);
    color: white;
    font-size: 16px;
    padding: 15px 30px;
    border: 5px solid #ffffff;
    cursor: pointer;
    border-radius: 5px;
   }
  
   .container form h2{
     font-family: sans-serif;
   }
  
   .container h2{
    text-align: center;
  }
  
   .container input[type="text"],input[type="email"],input[type="password"] {
    width: 98%;
    clear: both;
  }
  
  .termosDiv .termosButton {
    
    background-color: rgb(64, 192, 171);
    color: white;
    margin: 20px;
    font-size: 107px;
    padding: 10px 20px;
    border: 5px solid #ffffff;
    
    cursor: pointer;
    border-radius: 5px;
  }
  
  .termosDiv .termosBox {
    
    
    top: 0%;
    left:0%;
    right: 0%;
    bottom: 0%;
    background-color: rgb(24, 100, 110);
    color: white;
    font-size: 14px;
    padding: 15px 30px;
    border: 5px solid #ffffff;
    cursor: pointer;
    border-radius: 5px;
    overflow-y: scroll;
  
  }
  
  
  .container button{
    
    background-color: rgb(64, 192, 171);
    color: white;
    margin: 30px;
    font-size: 17px;
    padding: 5px 15px;
    border: 5px solid #ffffff;
    
    cursor: pointer;
    border-radius: 5px;
  }
  
  
  
  .divider{
    width:300px;
    height:auto;
   
  }
  
  .dividerCheckbox{
    width:50px;
    height:auto;
    
  }
  
  
  .container button:hover {
    background-color: rgb(26, 143, 179);
  }
  
  .termosDiv .termosBox{
    position: absolute;
    visibility: hidden;
  }
  
  .emailDiv .emailText {
      color: rgb(241, 33, 33);  
      font-size: small;
      visibility:hidden;
    }
    
    .usernameDiv .usernameText1 {
      color: rgb(241, 33, 33);  
      font-size: small;
      visibility:hidden;
    }
  
    .usernameDiv .usernameText2 {
      color: rgb(241, 33, 33);  
      font-size: small;
      visibility:hidden;
    }
  
    .passwordDiv .passwordText {
      color: rgb(241, 33, 33);  
      font-size: small;
      visibility:hidden;
    }
    
    .password_repeatDiv .password_repeatText {
      color: rgb(241, 33, 33);  
      font-size: small;
      visibility:hidden;
    }
  
    
    .termosText {
      color: rgb(241, 33, 33);  
      font-size: small;
      visibility:hidden;
    }
  
    .falhaText {
      color: rgb(241, 33, 33);  
      font-size: small;
      visibility:hidden;
    }
  
  