<h1>Linhas</h1>


<button id="changeToCreateLinha" routerLink="/linhas" type="button">Criar Nova Linha</button><br>

<br>

<body>
    <table width=70%>
        <th style="width: 15%;">Código</th>
        <th>Nome</th>
        <th style="width: 30%"> Estação Inicial </th>
        <th style="width: 30%"> Estação Final </th>
        <th> Restrições </th>
        <!-- <th> Cor</th> -->


        <tr *ngFor="let linha of linhas; let i = index">
            <td>{{ linhas[i].codLinha }}</td>
            <td>{{ linhas[i].nome }}</td>
            <td>{{linhas[i].noInicio}}</td>
            <td>{{linhas[i].noFim}}</td>
            <td>{{linhas[i].restricoes}}</td>
            
        </tr>
    </table>

</body>