h1 {

    background: rgb(107, 163, 185);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(12, 55, 71);
    text-align: center;
  }


  table, td{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 1px solid black;
    padding: 1px;
    border-spacing: 1px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }

  div{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 1px solid black;
    padding: 1px;
    border-spacing: 1px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }




  th{
    border: 1px solid black;
    padding: 1px;
    border-spacing: 1px;
    text-align: center;
    background-color:rgb(107, 163, 185);
    color: white;
  }

  td:hover{
    background-color: #ddd;
  }

body{
    overflow-y: scroll;
    max-height: 600px;
    float: left;

}