<h1>Listagem de Viagens de uma linha</h1>

<body>
  <button id="changeToCreateViagem" routerLink="/viagens" type="button">Criar nova viagem</button><br><br>
  <button id="changeToCreateViagens" routerLink="/viagensLinha" type="button">Criar várias viagens numa
    linha</button><br><br>

  <form [formGroup]="listarViagensForm">
    <label id="linhaLabel" for="linha2">
      Linha
    </label>
    <select formControlName="linha" id="linha" (change)="onFocusOutEventLinha($event)">
      <option *ngFor="let linha of linhas; let i = index" [value]="linhas[i].nome">
        {{linhas[i].nome}}
      </option>
    </select>
  </form>

  <table>

    <th rowspan="1">Linha</th>
    <th rowspan="1">Horário</th>
    <th rowspan="1">Percurso</th>

    <tbody>
      <tr *ngFor="let viagem of viagens; let i = index">

        <td>{{viagens[i].linha}}</td>
        <td>{{(viagens[i].horaSaida - (viagens[i].horaSaida%3600))/3600}}h:{{((viagens[i].horaSaida%3600) -
          (viagens[i].horaSaida%3600)%60)/60}}min:{{(((viagens[i].horaSaida%3600)%60))}}seg
        </td>
        <td>{{viagens[i].percurso}}</td>

      </tr>
    </tbody>
  </table>

</body>