body {
  background-color: powderblue;
}

h2 {
  background: rgb(107, 163, 185);
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(12, 55, 71);
  text-align: center;
}

form {
  line-height: 0.72em;
  margin-top: -10px;
}

.numMecanograficoDiv .numMecanograficoText {
  color: rgb(241, 33, 33);
  font-size: small;
  visibility: hidden;
}

.nomeDiv .nomeText {
  color: rgb(241, 33, 33);
  font-size: small;
  visibility: hidden;
}

.dataNascimentoDiv .dataNascimentoText {
  color: rgb(241, 33, 33);
  font-size: small;
  visibility: hidden;
}

.numCartaoCidadaoDiv .numCartaoCidadaoText {
  color: rgb(241, 33, 33);
  font-size: small;
  visibility: hidden;
}

.nifDiv .nifText {
  color: rgb(241, 33, 33);
  font-size: small;
  visibility: hidden;
}

.numCartaConducaoDiv .numCartaConducaoText {
  color: rgb(241, 33, 33);
  font-size: small;
  visibility: hidden;
}

.dataEmissaoCartaConducaoDiv .dataEmissaoCartaConducaoText {
  color: rgb(241, 33, 33);
  font-size: small;
  visibility: hidden;
}

.tiposTripulanteDiv .tiposTripulanteText {
  color: rgb(241, 33, 33);
  font-size: small;
  visibility: hidden;
}

.dataEntradaEmpresaDiv .dataEntradaEmpresaText {
  color: rgb(241, 33, 33);
  font-size: small;
  visibility: hidden;
}

.dataSaidaEmpresaDiv .dataSaidaEmpresaText {
  color: rgb(241, 33, 33);
  font-size: small;
  visibility: hidden;
}


.finalText {
  color: rgb(241, 33, 33);
  font-size: small;
  visibility: hidden;
}


form {
  float: left;
  font-size: 20px;
  line-height: 0.72em;
  padding: 35px;
  border-radius: 10px;
}
