<h2>Adicionar Tripulante</h2>


<form [formGroup]="createTripulanteForm" (ngSubmit)="onSubmit(createTripulanteForm.value)">

  <h4>Inserir dados</h4>

  <div class="numMecanograficoDiv">
    <div>
      <label id="numMecanograficoLabel" for="numMecanografico">
        Número Mecanográfico (9 alfanuméricos)
      </label>
      <input id="numMecanografico" type="text" formControlName="numMecanografico"
        (change)="numMecanograficoChange($event)" maxlength="9">
      <b id="numMecanograficoText" class="numMecanograficoText">O Número Mecanográfico de Tripulante introduzido é inválido
        ou já está a ser
        usado!</b>
    </div>
  </div>

  <div class="nomeDiv">
    <label id="nomeLabel" for="nome"><br>
      Nome
    </label>
    <input id="nome" type="text" formControlName="nome" (change)="nomeChange($event)" />
    <b id="nomeText" class="nomeText">Introduza o nome do Tripulante.</b>
  </div>

  <div class="dataNascimentoDiv">
    <label id="dataNascimentoLabel" for="dataNascimento"><br>
      Data de Nascimento
    </label>
    <input id="dataNascimento" type="date" formControlName="dataNascimento" (change)="dataNascimentoChange($event)" min="1925-01-01" />
    <b id="dataNascimentoText" class="dataNascimentoText">Idade inferior a 21 anos.</b>
  </div>
  <!--(change)="dataNascimentoChange($event)"-->

  <div class="numCartaoCidadaoDiv">
    <label id="numCartaoCidadaoLabel" for="numCartaoCidadao"><br>
      Nº Cartão de Cidadão
    </label>
    <input id="numCartaoCidadao" type="number" formControlName="numCartaoCidadao"
      (change)="numCartaoCidadaoChange($event)" max="100000000" />
    <b id="numCartaoCidadaoText" class="numCartaoCidadaoText">Introduza um Nº Cartão de Cidadão válido.</b>
  </div>

  <div class="nifDiv">
    <label id="nifLabel" for="nif"><br>
      NIF
    </label>
    <input id="nif" type="number" formControlName="nif" (change)="nifChange($event)" max="1000000000" />
    <b id="nifText" class="nifText">Introduza um NIF válido (9 algarismos).</b>
  </div>

  <div class="numCartaConducaoDiv">
    <label id="numCartaConducaoLabel" for="numCartaConducao"><br>
      Nº Carta de Condução
    </label>
    <input id="numCartaConducao" type="text" formControlName="numCartaConducao"
      (change)="numCartaConducaoChange($event)" maxlength="16" />
    <b id="numCartaConducaoText" class="numCartaConducaoText">Introduza um Nº válido.</b>
  </div>

  <div class="dataEmissaoCartaConducaoDiv">
    <label id="dataEmissaoCartaConducaoLabel" for="dataEmissaoCartaConducao"><br>
      Data de emissão da Carta de Condução
    </label>
    <input id="dataEmissaoCartaConducao" type="date" formControlName="dataEmissaoCartaConducao"
      (change)="dataEmissaoCartaConducaoChange($event)" />
    <b id="dataEmissaoCartaConducaoText" class="dataEmissaoCartaConducaoText">Introduza uma data válida.</b>
  </div>

  <div class="tiposTripulanteDiv">
    <label id="tiposTripulanteLabel" for="tiposTripulante"><br>
      Tipos de Tripulante: 
    </label> 
   
    <select formControlName="tiposTripulante" id="tiposTripulante"  (change)="tipoTripulanteChange($event)" >
      <option value="" selected disabled hidden>Selecione tipos de tripulante</option>
      <option *ngFor="let tipoTripulante of tiposTripulanteBox; let i = index" [value]="tiposTripulanteBox[i].descricao">
        {{tiposTripulanteBox[i].descricao}}
      </option>
    </select>
    <button id="tipoTripulanteButton" (click)="addTipo()"  style="margin-left: 10px" type="button">Adicionar tipo</button>
    <b id="tiposTripulanteText" class="tiposTripulanteText">Introduza um tipo de tripulante válido.</b>
  </div>

  <div class="dataEntradaEmpresaDiv">
    <label id="dataEntradaEmpresaLabel" for="dataEntradaEmpresa"><br>
      Data de entrada na empresa
    </label>
    <input id="dataEntradaEmpresa" type="date" formControlName="dataEntradaEmpresa"
      (change)="dataEntradaEmpresaChange($event)" />
    <b id="dataEntradaEmpresaText" class="dataEntradaEmpresaText">Introduza uma data válida.</b>
  </div>

  <div class="dataSaidaEmpresaDiv">
    <label id="dataSaidaEmpresaLabel" for="dataSaidaEmpresa"><br>
      Data de saída na empresa
    </label>
    <input id="dataSaidaEmpresa" type="date" formControlName="dataSaidaEmpresa"
      (change)="dataSaidaEmpresaChange($event)" />
    <b id="dataSaidaEmpresaText" class="dataSaidaEmpresaText">Introduza uma data válida.</b>
  </div>



  <br><button id="submitButton" class="button" type="submit">Criar Tripulante</button>
  <!--Reset Info-->
  <b id="finalTextLabel" class="finalText">Tripulante não criado. Reveja os dados.</b><br>


</form>