<h1>Serviços Viatura</h1>



<button id="changeToCriarServicoViatura" routerLink="/servicoviatura" type="button">Criar Novo Serviço de
    Viatura</button><br>

<br>
<body>
        <table width=70%>
            <th rowspan="2" style="width: 15%;">Código</th>
            <th rowspan="2">Descrição</th>
            <th colspan ="3" style="width: 30%"> Viagens </th>
            <tr>
                <th>Linha</th>
                <th>Percurso</th>
                <th>Hora Saída</th>
            </tr>

        
            <tr *ngFor="let servicoViatura of servicosViatura; let i = index">
                <td>{{ servicosViatura[i].codServicoViatura }}</td>
                <td>{{ servicosViatura[i].descricao }}</td>
                <td>
                    <div *ngFor="let viagem of servicosViatura[i].viagens; let j = index">
                        {{viagem.linha}}
                    </div>
                </td>

                <td>
                    <div *ngFor="let viagem of servicosViatura[i].viagens; let j = index">
                        {{viagem.percurso}}
                    </div>
                </td>

                <td>
                    <div *ngFor="let viagem of servicosViatura[i].viagens; let j = index">
                        {{viagem.horaSaida}}
                    </div>
                </td>
            </tr>
        </table>
        
</body>
