<h1>Criar Viatura</h1>


<form [formGroup]="createViaturaForm" (ngSubmit)="onSubmit()">


  <div class="text-center">
    <label id="matriculaLabel" for="matricula"><br>
      Matrícula:
    </label>
    <input id="matricula" class="form-control" formControlName="matricula" required (change)="onChangeMatricula($event)">
    <b id="MatriculaWarningText"> Já existe uma viatura com a Matrícula introduzida ! </b><br>

    
    <!-- <input id="codLinha" type="text" formControlName="codLinha" (change)="onChange($event)"> -->
  
    <div *ngIf="createViaturaForm.get('matricula')!.invalid && (createViaturaForm.get('matricula')!.dirty || createViaturaForm.get('matricula')!.touched)" class="alert alert-danger">

      <div *ngIf="createViaturaForm.get('matricula')!.errors!.required">
        É necessário introduzir Matrícula
      </div>
      <div *ngIf="createViaturaForm.get('matricula')!.errors!.pattern">
        A Matrícula tem um formato inválido !!
      </div>
    </div>

  </div>

  <div class="text-center">
    <label id="vinLabel" for="vin"><br>
      VIN (Número de Identificação do Veículo):
    </label>
    <input id="vin" class="form-control" formControlName="vin" required (change)="onChangeVin($event)">
    <b id="VinWarningText"> Já existe uma viatura com o Vin introduzido </b><br>
    
    <!-- <input id="codLinha" type="text" formControlName="codLinha" (change)="onChange($event)"> -->
  
    <div *ngIf="createViaturaForm.get('vin')!.invalid && (createViaturaForm.get('vin')!.dirty || createViaturaForm.get('vin')!.touched)" class="alert alert-danger">

      <div *ngIf="createViaturaForm.get('vin')!.errors!.required">
        É necessário introduzir VIN
      </div>
      <div *ngIf="createViaturaForm.get('vin')!.errors!.pattern">
        O VIN tem um formato inválido !!
      </div>
    </div>
  </div>


  <div class="text-center">
    <label id="codTipoViatura" for="codTipoViatura"><br>
      Tipo de Viatura:
    </label>
    <select formControlName="codTipoViatura" id="codTipoViatura">
      <option *ngFor="let tipoviatura of tiposViatura; let i = index" [value]="tiposViatura[i].codTipoViatura">
        {{tiposViatura[i].descricao}}
      </option>
    </select>
  </div>

  <div class="text-center">
    <label id="data_entrada_servico" for="data_entrada_servico"><br>
      Data Entrada de Serviço:
    </label>
    <input id="nome" type="date" formControlName="data_entrada_servico">
  </div>

  <button id="submitViaturaButton" class="button" type="submit">Criar Viatura</button>

</form>