<h1>Algortimo genetico</h1>
<form [formGroup]="algoritmo_genetico_form">    
    <p>Dimensao da populacao  : <input id="dimensaoPop" placeholder="Valor numerico (> 0)."/></p> 
    
    <p>Numero de novas geracoes : <input id="numNovasGeracoes" placeholder="Valor numerico (> 0)."/></p>

    <p>Probabilidade de cruzamento : <input id="probCruzamento" placeholder="Ratio (0-1)."/></p>

    <p>Probabilidade de mutacao : <input id="probMutacao" placeholder="Ratio (0-1)."/></p>

    <p>Tempo limite : <input id="tempoLimite" placeholder="Limite em segundos."/></p>

    <p>Menor avaliacao a procurar : <input id="menorAvaliacao" placeholder="Valor numerico."/></p>

    <p>Fator de estabilizacao :<input id="fatorEstabilizacao" placeholder="Valor numerico (> 0)."/></p>

    <p>Inicio hora de almoco :<input id="inicioAlmoco" placeholder="Horario em segundos (39600)."/></p>

    <p>Fim hora de almoco :<input id="fimAlmoco" placeholder="Horario em segundos (54000)."/></p>

    <p>Inicio hora de jantar :<input id="inicioJantar" placeholder="Horario em segundos (64800)."/></p>

    <p>Fim hora de jantar :<input id="fimJantar" placeholder="Horario em segundos (79200)."/></p>

    <p>Horario inicio turnos :<input id="inicioTurnos" placeholder="Horario em segundos (21600)."/></p>

    <p>Horario fim turnos :<input id="fimTurnos" placeholder="Horario em segundos (82800)."/></p>

    <button (click)="onClick()" class="btn-submit">Confirmar</button>  
     <script type="text/javascript" src="./tau-prolog.js"></script>
 </form>