<h2>Definição de um percurso</h2>
<form [formGroup]="createPercursoForm">
<h3>Introduza os detalhes do percurso</h3>

  <div>
    <div class="oriDiv">
      <label id="orientacaoLabel" for="orientacao"><br>Orientação (Return/Go)
      </label>
      <select formControlName="orientacao" id="orientacao">
        <option value="Go">Go</option>
        <option value="Return">Return</option>
      </select>
      <br>
    </div>

<br>
    <div>
      <label id="linhaLabel" for="linha">
        Linha
      </label>
      <select formControlName="linha" id="linha">
        <option *ngFor="let linha of linhas; let i = index" [value]="linhas[i].nome">
          {{linhas[i].nome}}
        </option>
      </select>
    </div>

    <div>
      <label id="noInicioLabel" for="noInicio"><br>
        Nó inicial
      </label>
      <select formControlName="noInicio" id="noInicio">
        <option *ngFor="let no of nos; let i = index" [value]="nos[i].abreviatura">
          {{nos[i].abreviatura}}
        </option>
      </select>
    </div>

    <div>
      <h4>Segmentos do percurso (Introduza o nó seguinte do percurso):</h4>

      <div>
        <label id="noFimLabel" for="noFim">
          Nó seguinte
        </label>
        <select formControlName="noFim" id="noFim">
          <option *ngFor="let no of nos; let i = index" [value]="nos[i].abreviatura">
            {{nos[i].abreviatura}}
          </option>
        </select>
      </div>
      <br>
      <label id="distanciaLabel">
        Distância (metros)
      </label>
      <input id="distancia_" (change)="onFocusOutEventDistancia($event)" placeholder="Introduza uma distância"
        #distancia /><br>
      <b id="distText" class="distText">Introduza uma distância correta.</b><br>
      <label id="duracaoLabel">
        Duração (minutos)
      </label>
      <input id="duracao_" (change)="onFocusOutEventDuracao($event)" placeholder="Introduza uma duração" #duracao />
      <br>
      <b id="durText" class="durText">Introduza uma duração correta.</b>
      <div class="buttons-inline-block">
        <button id="buttonSegmento" (click)="addSegmento()" (click)="distancia.value=''"
          (click)="duracao.value=''">Adicionar segmento</button>
        <button id="buttonPercurso" (click)="addPercurso()">Criar Percurso</button>
      </div>
    </div>
    <b id="finalText" class="finalText">Percurso não criado. Reveja os dados.</b><br>
  </div>
</form>