/* PercursosComponent's private CSS styles */

body {
  background-color: rgb(230, 196, 173);
}

h2 {
  background: rgb(107, 163, 185);
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(12, 55, 71);
  text-align: center;
}

form {
  float: left;
  font-size: 20px;
  line-height: 0.72em;
  padding: 35px;
  border-radius: 10px;
}

buttons-inline-block {
  display: inline-block;
}

/* background-color: #5a5e5a;  Green 
    border :red;
    color: white; */
button {
  /* padding: 5px 5px 5px; */
  /* margin-left: 400px;
  margin-bottom: 10px;
  margin-top: -100px; */
  
  margin-right: 35%;
  width: 15%;
  text-decoration: none;
  font-size: 15px;

}

/*div {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }*/


#outer {
  width: 100%;
  text-align: center;
}

.inner {
  display: inline-block;
}

.percursos li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: rgb(238, 238, 238);
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.percursos li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.percursos li.selected {
  background-color: #CFD8DC;
  color: white;
}

.percursos li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}

.percursos .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.oriDiv .oriText {
  color: rgb(241, 33, 33);
  font-size: small;
  visibility: hidden;
}

.descriDiv .descriText {
  color: rgb(241, 33, 33);
  font-size: small;
  visibility: hidden;
}

.distText {
  color: rgb(241, 33, 33);
  font-size: small;
  visibility: hidden;
}

.durText {
  color: rgb(241, 33, 33);
  font-size: small;
  visibility: hidden;
}

.finalText {
  color: rgb(241, 33, 33);
  font-size: small;
  visibility: hidden;
}
