<h1>Criar Tipo Viatura</h1>


<form [formGroup]="createTipoViaturaForm" (ngSubmit)="onSubmit(createTipoViaturaForm.value)">

    <div class="text-center">
      <label id= "codTipoViaturalabel" for="codTipoViatura"><br>
        Código de Tipo de Viatura (20 caracteres)
      </label>
      <input id="codTipoViatura" type="text" formControlName="codTipoViatura" (change)="onChange($event)">
      <br>
      <b id="codTipoViaturaText" class="codTipoViaturaText">O Código de Tipo de Viatura introduzido já está a ser usado !!</b>
    </div>
  
    <div>
      <label id= "descricaolabel" for="descricao"><br>
        Descrição da Viatura
      </label>
      <input id="descricao" type="text" formControlName="descricao">
    </div>

    <div>
        <label id="velocidadeMediaLabel" for="velocidade_media"><br>
          Velocidade Média
        </label>
        <input id="velocidade_media" type="number" formControlName="velocidade_media">
      </div>

    <div>
        <label id="tipoCombustivelLabel" for="tipocombustivel"><br>
          Tipo de Combustível
        </label>
        <input id="tipocombustivel" type="number" formControlName="tipocombustivel">
    </div>

    <div>
        <label id="consumoMedioLabel" for="consumo_medio"><br>
          Consumo Médio (L/KM ou KWH/KM)
        </label>
        <input id="consumo_medio" type="number" formControlName="consumo_medio">
    </div>

    <div>
        <label id="custoKmLabel" for="custo_km"><br>
          Custo por KM
        </label>
        <input id="custo_km" type="number" formControlName="custo_km">
    </div>

    <div>
        <label id="autonomiaLabel" for="autonomia"><br>
          Autonomia
        </label>
        <input id="autonomia" type="number" formControlName="autonomia">
    </div>

    <div>
        <label id="emissoesLabel" for="emissoes"><br>
          Emissões
        </label>
        <input id="emissoes" type="number" formControlName="emissoes">
    </div>
  
    <br><button id="submitButton" class="button" type="submit">Criar Tipo de Viatura</button>
  
  </form>
