  h1 {
    position:fixed;
    top: -160px;
    left: 100px;

    font-size: 12em;  
      
    color: rgb(236, 230, 236);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 5px 10px rgb(64, 192, 171);
    font-style: italic;
  }

  .container img {
    background-image: url(../../assets/bus.jpg);
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
  }

    .container .registerButton {
    position: absolute;
    display: inline-block;

    margin-top: 15px;
    top: 4%;
    left: 82%;
    background-color: rgb(64, 192, 171);
    color: white;
    font-size: 25px;
    padding: 12px 24px;
    border: 5px solid #ffffff;
    cursor: pointer;
    border-radius: 5px;
  }

  .container .enterButton {
    position: absolute;
    display: inline-block;
    
    margin-top: 15px;
    top: 4%;
    left: 70%;
    background-color: rgb(64, 192, 171);
    color: white;
    font-size: 25px;
    padding: 12px 24px;
    border: 5px solid #ffffff;
    cursor: pointer;
    border-radius: 5px;
  }

  .container .enterDataAdminButton {
    position: absolute;
    display: inline-block;

    margin-top: 15px;
    top: 5%;
    left: 46%;
    background-color: rgb(64, 192, 171);
    color: white;
    font-size: 15px;
    padding: 12px 24px;
    border: 5px solid #ffffff;
    cursor: pointer;
    border-radius: 5px;
  }

  
  .container .enterGestorButton {
    position: absolute;
    display: inline-block;

    margin-top: 15px;
    top: 5%;
    left: 64%;
    background-color: rgb(64, 192, 171);
    color: white;
    font-size: 15px;
    padding: 12px 24px;
    border: 5px solid #ffffff;
    cursor: pointer;
    border-radius: 5px;
  }

 

  .container .registerButton:hover {
    background-color: rgb(26, 143, 179);
  }

  .container .enterClientButton:hover {
    background-color: rgb(26, 143, 179);
  }

  .container .enterGestorButton:hover {
    background-color: rgb(26, 143, 179);
  }

  .container .enterDataAdminButton:hover {
    background-color: rgb(26, 143, 179);
  }
