<style>
body{
    background-image: url(assets/bus.jpg);
    background-repeat: no-repeat;
}
</style> 


<!-- <div id="bemvindoTextDiv" class="bemvindoText">
        <h1>BEM-VINDO</h1>
    </div>
    <div id="escolherTextDiv" class="escolherText">
        <h3>Escolha a funcionalidade que pretende executar</h3>
    </div> -->


<div class="container" style="background-image: url('bus.jpg')">
    <img src="assets/bus.jpg" alt="Blue Bus" style="width:100%;height: 100%;">
    <button id="registerButton" class="registerButton" routerLink="/registo" type="submit">Registar-se</button>
    <button id="enterButton" class="enterButton" routerLink="/login" type="submit">Aceder</button>
    <!-- <button id="enterDataAdminButton" class="enterDataAdminButton" routerLink="/importacaoglx" type="submit">Aceder como Data Admin</button>
    <button id="enterGestorButton" class="enterGestorButton" routerLink="/importacaoglx" type="submit">Aceder como Gestor</button>
     -->
     <h1>AIT</h1>
</div>
