<h2>Criação de viagens</h2>
<h3>Introduza os detalhes das viagens</h3>
<form [formGroup]="createViagemForm">
  <div>

    <div>
      <label id="linhaLabel" for="linha2">
        Linha
      </label>
      <select formControlName="linha" id="linha" (change)="onFocusOutEventLinha($event)">
        <option *ngFor="let linha of linhas; let i = index" [value]="linhas[i].nome">
          {{linhas[i].nome}}
        </option>
      </select>
    </div>
<br><br>
    <label id="horarioLabel">
        Horário de início<br><br>
      </label>
      Horas:<input id="horario" type = "number" (change)="onFocusOutEventHorario($event)" placeholder="Introduza as horas"/><br>
      Minutos:<input id="horarioM" type = "number" (change)="onFocusOutEventHorario($event)" placeholder="Introduza os minutos"/><br>
      Segundos:<input id="horarioS" type = "number" (change)="onFocusOutEventHorario($event)" placeholder="Introduza os segundos"/><br>
      <b id="horarioText" class="horarioText">Introduza um horário correto.</b><br>
<br>
      <label id="horarioFimLabel">
        Horário de fim<br><br>
      </label>
      Horas:<input id="horarioFim" type = "number" (change)="onFocusOutEventHorarioFim($event)" placeholder="Introduza as horas"/><br>
      Minutos:<input id="horarioMFim" type = "number" (change)="onFocusOutEventHorarioFim($event)" placeholder="Introduza os minutos"/><br>
      Segundos:<input id="horarioSFim" type = "number" (change)="onFocusOutEventHorarioFim($event)" placeholder="Introduza os segundos"/><br>
      <b id="horarioFimText" class="horarioFimText">Introduza um horário correto.</b><br>

      <label id="frequenciaLabel">
        Frequência
      </label>
      <input id="frequencia" type = "number" (change)="onFocusOutEventFrequencia($event)" placeholder="Introduza uma frequência"/><br>
      <b id="frequenciaText" class="frequenciaText">Introduza uma frequência correta.</b><br>

      <label id="nViagensLabel">
        Número de viagens
      </label>
      <input id="nViagens" type = "number" (change)="onFocusOutEventNViagens($event)" placeholder="Introduza um número de viagens"/><br>
      <b id="nViagensText" class="nViagensText">Introduza um número de viagens válido.</b><br>

      <div>
        <label id="percursoIdaLabel" for="percursoIda">
          Percurso de ida
        </label>
        <select formControlName="percursoIda" id="percursoIda">
          <option *ngFor="let percurso of percursos; let i = index" [value]="percursos[i].descricao">
            {{percursos[i].descricao}}
          </option>
        </select>
      </div>

      <div>
        <label id="percursoVoltaLabel" for="percursoVolta">
          Percurso de volta
        </label>
        <select formControlName="percursoVolta" id="percursoVolta">
          <option *ngFor="let percurso of percursos; let i = index" [value]="percursos[i].descricao">
            {{percursos[i].descricao}}
          </option>
        </select>
      </div>
    
      <div class="buttons-inline-block">
        <button id="buttonViagem" (click)="addViagens()">Criar viagens</button>
      </div>
    <b id="finalText" class="finalText">Viagem não criada. Reveja os dados.</b><br>
    <b id="successText" class="successText">Viagens criadas.</b><br>
  </div>
</form>
