<h2>Definição de uma viagem</h2>
<h3>Introduza os detalhes da viagem</h3>
<form [formGroup]="createViagemForm">
  <div>

    <div>
      <label id="linhaLabel" for="linha2">
        Linha
      </label>
      <select formControlName="linha" id="linha" (change)="onFocusOutEventLinha($event)">
        <option *ngFor="let linha of linhas; let i = index" [value]="linhas[i].nome">
          {{linhas[i].nome}}
        </option>
      </select>
    </div>

    <label id="horarioLabel"><br>
        Horário de início
      </label><br><br>Horas:
      <input id="horario" type = "number" (change)="onFocusOutEventHorario($event)" placeholder="Introduza a hora"/><br><br>
      Minutos:<input id="horarioM" type = "number" (change)="onFocusOutEventHorario($event)" placeholder="Introduza os minutos"/><br><br>
      Segundos:<input id="horarioS" type = "number" (change)="onFocusOutEventHorario($event)" placeholder="Introduza os segundos"/><br>
      <b id="horarioText" class="horarioText">Introduza um horário correto.</b><br>

      <div>
        <label id="percursoLabel" for="percurso">
          Percurso
        </label>
        <select formControlName="percurso" id="percurso">
          <option *ngFor="let percurso of percursos; let i = index" [value]="percursos[i].descricao">
            {{percursos[i].descricao}}
          </option>
        </select>
      </div>
    
      <div class="buttons-inline-block">
        <button id="buttonViagem" (click)="addViagem()">Adicionar viagem</button>
      </div>
    <b id="finalText" class="finalText">Viagem não criada. Reveja os dados.</b><br>
  </div>
</form>
