<h2 id="TitlePageListarNos">Listagem de Nós</h2>


<!--

<form [formGroup]="listarNosForm">
    <label id="noLabel" for="no2">
        Nó
    </label>
    <select formControlName="no" id="no" >
        <option *ngFor="let no of nos; let i = index" [value]="nos[i].nome">
            {{nos[i].nome}}
        </option>
    </select>
</form>

-->

<br><button id="createNoButton" routerLink="/nos" class="button" type="button" style='float:left;margin-top: 10px;margin-left: 52px;'>Criar Nó</button>


<br>

<body>

    <table>
        <th>Nome</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Abreviatura</th>
        <th>EstacaoRecolha</th>
        <th>PontoRendicao</th>
        <th>Capacidade</th>
        <th>TempoMaxParagem</th>
        
                <tr *ngFor="let no of nos; let i = index">

                    <td>{{nos[i].nome}}</td>
                    <td>{{nos[i].latitude}}</td>
                    <td>{{nos[i].longitude}}</td>
                    <td>{{nos[i].abreviatura}}</td>
                    <td>{{nos[i].isEstacaoRecolha}}</td>
                    <td>{{nos[i].isPontoRendicao}}</td>
                    <td>{{nos[i].capacidade}}</td>
                    <td>{{nos[i].tempoMaxParagem}}</td>
                </tr>
    </table>



</body>