h1 {

  background: rgb(107, 163, 185);
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(12, 55, 71);
  text-align: center;
}


#createNoButton{
  margin-left:4.2%;
}

body{
  overflow-y: scroll;
  max-height: 600px;
}

table, td{
  margin-left:5%;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 1px solid black;
  padding: 1px;
  border-spacing: 1px;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0)
}

th{
  border: 1px solid black;
  width: 30%;
  padding: 1px;
  border-spacing: 1px;
  text-align: left;
  background-color:rgb(107, 163, 185);
  color: white;
}

td:hover{
  background-color: #ddd;
}
