<h2>Criar Tipo Tripulante</h2>


<form [formGroup]="createTipoTripulanteForm" (ngSubmit)="onSubmit(createTipoTripulanteForm.value)">

  <h4>Inserir dados</h4>

  <div class="codigoDiv">
      <label id="codigoLabel" for="codigo"><br>
        Código
      </label>
      <input id="codigo" type="text" formControlName="codigo" (change)="codigoChange($event)" maxlength="20">
      <br>
      <b id="codigoText" class="codigoText">O Código de Tipo de Tripulante introduzido é inválido ou já está a ser
        usado!</b>
  </div>

  <div class="descricaoDiv">
    <label id="descricaoLabel" for="descricao"><br>
      Descrição
    </label>
    <input id="descricao" type="text" formControlName="descricao" (change)="descricaoChange($event)" />
    <b id="descricaoText" class="descricaoText">A descrição do Tipo de Tripulante introduzida é inválida ou já está a ser
      usada!.</b>
  </div>

  <br><button id="submitButton" class="button" type="submit">Criar Tipo de Tripulante</button>
  <!--Reset Info-->
  <b id="finalTextLabel" class="finalText">Tipo de Tripulante não criado. Reveja os dados.</b><br>

    <input type="reset" style="margin:25px;">


</form>