<!--<p>Nó Início       : <input [(ngModel)]="no_inicio" value="" placeholder="Introduza abreviatura."/></p>
<p>Nó Fim          : <input [(ngModel)]="no_fim" value="" placeholder="Introduza abreviatura."/></p>
<p>Horário Início  : <input [(ngModel)]="horario" value="" placeholder="Introduza horário em segs."/></p>  
<button (click)="onClick(no_inicio, no_fim, horario)" class="btn-">Confirmar</button> 
<script type="text/javascript" src="./tau-prolog.js"></script>-->
<h1>Planeamento Mudança Tripulante</h1>
<form [formGroup]="plan_mud_mot_form">
    <div>
        <label for="noInicio"><br>
            Nó Inicial: 
        </label>
        <select formControlName="noInicio" id="noInicio">
        <option *ngFor="let no of nos; let i = index" [value]="nos[i].abreviatura">
            {{nos[i].abreviatura}}
        </option>
        </select>
    </div>
    


    <div>
        <label for="noFim"><br>
            Nó Final: 
        </label>
        <select formControlName="noFim" id="noFim">
        <option *ngFor="let no of nos; let i = index" [value]="nos[i].abreviatura">
            {{nos[i].abreviatura}}
        </option>
        </select>
    </div>

    <p>Horário Início  : <input id="horario" placeholder="Introduza horário em segs."/></p>  
   <button (click)="onClick()" class="btn-submit">Confirmar</button>  
    <script type="text/javascript" src="./tau-prolog.js"></script>
</form>