<div class="container" style="background-image: url('bus.jpg');">
    <img src="assets/bus.jpg" alt="Blue Bus" style="width:100%;height: 100%;">

    <form [formGroup]="createLoginForm" (ngSubmit)="onSubmit(createLoginForm.value)">


        <h2>Aceder</h2>

        <!-- <div class="emailDiv">
            <label id="emailLabel" for="email"><br>
                Email
            </label>
            <input id="email" type="email" formControlName="email" (change)="emailChange($event)" />
            <b id="emailText" class="emailText">Introduza um email válido.</b>
        </div> -->

        <div class="usernameDiv">
            <label id="usernameLabel" for="username"><br>
                Username
            </label>
            <input id="username" type="text" formControlName="username" (change)="usernameChange($event)" />
            <b id="usernameText" class="usernameText">Inserir Username.</b>

        </div>

        <div class="passwordDiv">
            <label id="passwordLabel" for="password"><br>
                Password
            </label>
            <input id="password" type="password" formControlName="password" (change)="passwordChange($event)" />
            <b id="passwordText" class="passwordText">Introduza uma password.</b>
        </div>

        <div style="display:inline-flex;margin-left: 50px;margin-top:30px">
            <button id="submitButton" class="button" type="submit">Login</button>
            <br><button id="dashboardButton" class="button" routerLink="/dashboard" type="button">Voltar</button>
        </div>

        <div class="falhaTextDiv">
            <b id="falhaTextLabel" class="falhaText">Login inválido! Reveja os dados.</b><br>
        </div>


    </form>

</div>