  form {
    display: inline-block;
  }

  .container img {
    background-image: url(../../assets/bus.jpg);
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }

  .container form {
    position: absolute;
    top: 15%;
    left: 25%;
    right: 25%;
    background-color: rgb(24, 100, 110);
    color: white;
    font-size: 16px;
    padding: 15px 30px;
    border: 5px solid #ffffff;
    cursor: pointer;
    border-radius: 5px;
  }

  .container form h2 {
    font-family: sans-serif;
  }

  .container h2 {
    text-align: center;
  }

  .container input {
    width: 100%;
    clear: both;
  }

  .container .loginButton {
    position: absolute;
    display: inline-block;

    margin-top: 15px;
    top: 70%;
    left: 60%;
    background-color: rgb(64, 192, 171);
    color: white;
    font-size: 40px;
    padding: 12px 24px;
    border: 5px solid #ffffff;
    cursor: pointer;
    border-radius: 5px;
  }

  .container button {

    background-color: rgb(64, 192, 171);
    color: white;
    margin: 20px;
    font-size: 17px;
    padding: 10px 20px;
    border: 5px solid #ffffff;

    cursor: pointer;
    border-radius: 5px;
  }

  .container button:hover {
    background-color: rgb(26, 143, 179);
  }


  .container .registerButton:hover {
    background-color: rgb(26, 143, 179);
  }

  .container .enterButton:hover {
    background-color: rgb(26, 143, 179);
  }


  .usernameDiv .usernameText {
    color: rgb(241, 33, 33);
    font-size: small;
    visibility: hidden;
  }

  .passwordDiv .passwordText {
    color: rgb(241, 33, 33);
    font-size: small;
    visibility: hidden;
  }

  .falhaTextDiv .falhaText {
    color: rgb(241, 33, 33);
    font-size: small;
    visibility: hidden;
  }
