#CodServicoViaturaWarningText {
  visibility: hidden;
  color: red;
}

#EmptyViagensWarning {
  visibility: hidden;
  color: red;
}

h1 {

  background: rgb(107, 163, 185);
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(12, 55, 71);
  text-align: center;
}


form {
  float: left;
  font-size: 20px;
  line-height: 0.72em;
  padding: 35px;
  border-radius: 10px;
}
