
<h1>Criar Serviço de Viatura</h1>


<form [formGroup]="createServicoViaturaForm" (ngSubmit)="onSubmit()">


  <div class="text-center">
    <label id="codServicoViaturaLabel" for="codServicoViatura"><br>
      Código de Serviço de Viatura:
    </label>
    <input id="codServicoViatura" class="form-control" formControlName="codServicoViatura" required (change)="onChangeCodServicoViatura($event)">
    <b id="CodServicoViaturaWarningText"> Já existe um serviço de viatura com o código introduzido ! </b><br>
  

    <div *ngIf="createServicoViaturaForm.get('codServicoViatura')!.invalid && (createServicoViaturaForm.get('codServicoViatura')!.dirty || createServicoViaturaForm.get('codServicoViatura')!.touched)" class="alert alert-danger">

      <div *ngIf="createServicoViaturaForm.get('codServicoViatura')!.errors!.required">
        É necessário introduzir um Código de Serviço de Viatura
      </div>
    </div>

  </div>

  
  <div class="text-center">
    <label id="DescricaoServicoViaturaLabel" for="descricaoServicoViatura"><br>
      Descrição do Serviço de Viatura
    </label>
    <input id="descricaoServicoViatura" type="text" formControlName="descricao">
  </div>


  <div class="text-center">
    <label id="viagensLabel" for="viagens"><br>
      Selecione Viagens: 
    </label>
    <select formControlName="viagens" id="viagensId">
      <option *ngFor="let viagem of viagens; let i = index" [value]="viagens[i].viagemId">
        Percurso: {{viagens[i].percurso}} - Linha: {{viagens[i].linha}} - Horário Saída: {{viagens[i].horaSaida}}
      </option>
    </select>
  </div><br>

  <b id="EmptyViagensWarning"> É necessário selecionar as viagens !!! </b><br>


  <button id="addViagemButton" (click)="addViagem()" type="button">Adicionar Viagem</button><br>


  <br><br><button id="submitServicoViaturaButton" class="button" type="submit">Criar Serviço Viatura</button>

</form>