h1 {
  font-size: 6em;
  font-style: italic;
  color: rgb(250, 250, 250);
  color: rgb(236, 230, 236);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
  text-shadow: 5px 5px blue;
  font-style: italic;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 50px;
  margin-right: 50px;
}

nav a {
  height: auto;
  padding: 5px 20px 5px;
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 5px;
  left:auto;

  display: block;
  background-color: rgba(36, 80, 173, 0.836);
  border-radius: 50px;
}


nav a:visited {
  color: #f0eeee;
}

nav a:hover {
  color: rgb(12, 55, 71);
  background-color: rgba(101, 127, 184, 0.836);
}


.container {
  position:fixed;
  top:0px;
  left:0px;
  right:0px;
  margin-top: auto;
  
  background: rgb(107, 163, 185);

}


.one {
  bottom: auto;
  width: auto;
  height: 770px;
  background: rgb(107, 163, 185);
  float: left;
}

.two {
  margin-left: 0%;
  height: 750px;
  background: white;

}
