
<section class="container">
  <div class="one">
    <h1>{{title}}</h1>

    <nav>

      <a routerLink="/home">Home</a>
      <a *ngIf="userInfo && userInfo.data_admin" routerLink="/importacaoglx">Importação de ficheiro</a>
      <a *ngIf="userInfo && userInfo.data_admin" routerLink="/listar_nos">Nós</a>
      <a *ngIf="userInfo && userInfo.data_admin" routerLink="/listarlinhas">Linhas</a>
      <a *ngIf="userInfo && userInfo.data_admin" routerLink="/listar_percursos">Percursos</a>
      <a *ngIf="userInfo && userInfo.data_admin" routerLink="/blocos">Blocos de Trabalho</a>
      <a *ngIf="userInfo && userInfo.data_admin" routerLink="/listar_viagens">Viagens</a>
      <a *ngIf="userInfo && userInfo.data_admin" routerLink="/tripulantes">Tripulantes</a>
      <a *ngIf="userInfo && userInfo.data_admin" routerLink="/tipoTripulante">Tipos de Tripulante</a>
      <a *ngIf="userInfo && userInfo.data_admin" routerLink="/listar_servicos_tripulante">Serviço de Tripulante</a>
      <a *ngIf="userInfo && userInfo.data_admin" routerLink="/viaturas">Viaturas</a>
      <a *ngIf="userInfo && userInfo.data_admin" routerLink="/tipoViatura">Tipos de Viatura</a>
      <a *ngIf="userInfo && userInfo.data_admin" routerLink="/listarservicoviatura">Serviços de Viatura</a>
      <a *ngIf="userInfo" routerLink="/visualizacaoharp">Visualizar Mapa da Rede</a>
      <!-- <a routerLink="/visualizacaoharp">Visualizar Mapa da Rede em 3D</a> -->
      <a *ngIf="userInfo && userInfo.gestor" routerLink="/algoritmo_genetico">Algoritmo Genetico</a>
      <a *ngIf="userInfo && userInfo.gestor" routerLink="/mudanca_motoristas">Planeamento Mudança de Tripulante</a>
      <a *ngIf="userInfo"routerLink="/dashboard">Logout</a>
      <!-- <a routerLink="/listar_viagens">Listagem de viagens</a> -->
    </nav>
  </div>
  <div class="two">

    <router-outlet></router-outlet>
  </div>
</section>