.map-container {
  width: 90%;
  height: 600px;
  border: 10px solid #000000;
}

h2 {
  background: rgb(107, 163, 185);
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(12, 55, 71);
  text-align: center;
}
