<h1>Mapa de rede </h1><br>

<b id = "infoX">Informações</b><br>
<b id = "infoY">Informações</b><br>
<button id="button2D">Visualização 2D</button><br>
<button id="button3D">Visualização 3D</button><br>

<canvas #map style="margin-left:40px;margin-right:10px; margin-top:70px; width: 70vw; height: 70vh;border:10px solid  rgb(107, 163, 185);"></canvas>

