h1{
    background: rgb(107, 163, 185);
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(12, 55, 71);
  text-align: center;
}

#button2D{
  margin-left:4.2%;
  display: inline-block;
}


#button3D{
  margin-left:4.2%;
  display: inline-block;
}