body {
    background-color: powderblue;
  }
  
  form {
    line-height: 0.72em;
    margin-top: -10px;
  }
  
  h2 {
    background: rgb(107, 163, 185);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(12, 55, 71);
    text-align: center;
  }
  
  
  form {
    float: left;
    font-size: 20px;
    line-height: 0.72em;
    padding: 35px;
    border-radius: 10px;
  }
  
  
  .codigoDiv .codigoText {
    color: rgb(241, 33, 33);  
    font-size: small;
    visibility:hidden;
  }
  
  .blocosDiv .blocosText {
    color: rgb(241, 33, 33);  
    font-size: small;
    visibility:hidden;
  }
  
  
  .descricaoDiv .descricaoText {
    color: rgb(241, 33, 33);  
    font-size: small;
    visibility:hidden;
  }
  
  .finalText {
    color: rgb(241, 33, 33);  
    font-size: small;
    visibility:hidden;
  }