<h2>Criar Servico Tripulante</h2>


<form [formGroup]="createServicoTripulanteForm" (ngSubmit)="onSubmit(createServicoTripulanteForm.value)">

  <h4>Inserir dados</h4>

  <div class="codigoDiv">
      <label id="codigoLabel" for="codigo"><br>
        Código
      </label>
      <input id="codigo" type="text" formControlName="codigo" (change)="codigoChange($event)" maxlength="10">
      <br>
      <b id="codigoText" class="codigoText">O Código de Serviço de Tripulante introduzido é inválido ou já está a ser
        usado!</b>
  </div>

  <div class="blocosDiv">
    <label id="blocosLabel" for="tipoTripulante"><br>
      Selecionar Blocos 
    </label>
    <select formControlName="blocos" id="blocos" placeholder="Escolha uma opção">
      <option value="" selected disabled hidden>Blocos</option>
      <option *ngFor="let bloco of blocosBox; let i = index" [value]="blocosBox[i].idBloco">
        BlocoId : {{blocosBox[i].idBloco}} - IdServiçoViatura : {{blocosBox[i].idServicoViatura}} 
      </option>
    </select>
    <button id="buttonBlocos" (click)="addBloco()">Adicionar Bloco</button>
    <b id="blocosText" class="blocosText">Selecione pelo menos um bloco ao serviço!</b>
  </div>


  <br><button id="submitButton" class="button" type="submit">Criar Servico de Tripulante</button>
  <!--Reset Info-->
  <b id="finalTextLabel" class="finalText">Serviço de Tripulante não criado. Reveja os dados.</b><br>

  

</form>