h1 {
  background: rgb(107, 163, 185);
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(12, 55, 71);

}

#BlocoOlaDiv {


  top: 20%;
  padding: 75px 30px;
  border: 10px solid rgb(14, 14, 150);
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

/* #olaDiv,
#UsernameDiv {
  display: inline;
}
 */
 
.botaoApagarUserDiv {
  font-size: 30px;
  margin: 20px;
  float :left;
}


.divider{
  width: 60vw;
  height: 60vh;
}