<h1 id="TitlePageHome">Home</h1>

<body>
   

    <div id="BlocoOlaDiv" style="display:inline-flex">

        <div id="olaDiv">
            Olá
            <div id="UsernameDiv" style="font-weight: bolder;">
                This text will change
            </div>
        </div>

        <div class="divider"></div>

        <div id="botaoApagarUserDiv">
            <button id="botaoApagarUserId" (click)="apagarUser()" routerLink="/dashboard" >Remover Dados</button>
        </div>

    </div>


</body>