<h1>Serviços Tripulante</h1>


<button id="changeToCriarServicoTripulante" routerLink="/servicotripulante" type="button"
style='float:left;margin-top: 10px;margin-left: 52px;'>Criar Novo Serviço de
Tripulante</button><br>

<br>
<body>

    <table width=70%>
        <th >IdServicoTripulante</th>
        <th > IdBlocos </th>
        <!-- <tr>
            <th id="l1">IdBloco</th>

        </tr> -->

        
        <tr *ngFor="let servicoTripulante of servicosTripulante; let i = index">
            <td>{{ servicosTripulante[i].idServicoTripulante }}</td>
            <td>
                <div *ngFor="let bloco of servicosTripulante[i].blocos; let j = index">
                    {{servicosTripulante[i].blocos[j].blocoId}}
                </div>
            </td>
        

        </tr>
    </table>

</body>
