<h1>Listagem de Percursos de uma linha</h1>

<form [formGroup]="listarPercursosForm">
    <label id="linhaLabel" for="linha2">
      Linha
    </label>
    <select formControlName="linha" id="linha" (change)="onFocusOutEventLinha($event)">
      <option *ngFor="let linha of linhas; let i = index" [value]="linhas[i].nome">
        {{linhas[i].nome}}
      </option>
    </select>
</form>

<br>
<body>
<table>
    
        <th rowspan = "2">Percurso</th>
        <th rowspan = "2">Orientação</th>
        <th rowspan = "2">Distância</th>
        <th rowspan = "2">Duração</th>
        <th rowspan = "2">Linha</th>
        <th rowspan = "2">Nó de início</th>
        <th rowspan = "2">Nó de fim</th>
        <th colspan = "4">Segmentos</th>
        <tr>
            <th id="l1">Nó inicial</th>
            <th id="l2">Nó final</th>
            <th id="l3">Distância</th>
            <th id="l4">Duração</th>
        </tr>
        

   
    <tbody>
        <tr *ngFor="let percurso of percursos; let i = index">
        
            <td>{{percursos[i].descricao}}</td>
            <td>{{percursos[i].orientacao}}</td>
            <td>{{percursos[i].distancia}}</td>
            <td>{{percursos[i].duracao}}</td>
            <td>{{percursos[i].linha}}</td>
            <td>{{percursos[i].noInicio}}</td>
            <td>{{percursos[i].noFim}}</td>
             <td>
                <div *ngFor= "let segmento of percursos[i].segmentos; let j = index">
                    {{percursos[i].segmentos[j].no1}} 
                </div>   
            </td> 
            <td>
                <div *ngFor= "let segmento of percursos[i].segmentos; let j = index">
                    {{percursos[i].segmentos[j].no2}} 
                </div>   
            </td> 
            <td>
                <div *ngFor= "let segmento of percursos[i].segmentos; let j = index">
                    {{percursos[i].segmentos[j].distancia}} 
                </div>   
            </td> 
            <td>
                <div *ngFor= "let segmento of percursos[i].segmentos; let j = index">
                    {{percursos[i].segmentos[j].duracao}} 
                </div>   
            </td> 
        </tr>
    </tbody>
  </table>

  <br><button id="createPercursoButton" routerLink="/percursos" class="button" type="button" style='float:left;margin-top: 10px;margin-left: 52px;'>Criar Percurso</button>


</body>