<h1 id="TitlePageLinhas">Criar Linhas</h1>
<form [formGroup]="createLinhaForm" (ngSubmit)="onSubmit()">

  <div class="text-center">
    <label id="codLinhaLabel" for="codLinha"><br>
      Código da Linha
    </label>
    <input id="codLinha" type="text" formControlName="codLinha" (change)="onChange($event)">
    <br>
    <b id="codLinhaText" class="codLinhaText">O Código de Linha introduzido já está a ser usado !!</b>
  </div>

  <div>
    <label id="nomeLinhaLabel" for="nome"><br>
      Nome da Linha
    </label>
    <input id="nome" type="text" formControlName="nome">
  </div>

  <div>
    <label id="corLinhaLabel" for="corLinha"><br>
      Cor da Linha
    </label>
    <input id="corLinha" [(colorPicker)]="corLinha" [style.background]="corLinha">
  </div>

  <div>
    <label id="noInicioLinhaLabel" for="noInicio"><br>
      Estação Inicial
    </label>
    <select formControlName="noInicio" id="noInicio">
      <option *ngFor="let no of nos; let i = index" [value]="nos[i].abreviatura">
        {{nos[i].abreviatura}}
      </option>
    </select>
  </div>


  <div>
    <label id="noFimLinhaLabel" for="noFim"><br>
      Estação Final
    </label>
    <select formControlName="noFim" id="noFim">
      <option *ngFor="let no of nos; let i = index" [value]="nos[i].abreviatura">
        {{nos[i].abreviatura}}
      </option>
    </select>
  </div>

  <div>
    <label id="restricoesLinhaLabel" for="restricoes"><br>
      Restricões
    </label>
    <input id="restricoes" type="text" formControlName="restricoes">
  </div>

  <br><button id="submitLinhaButton" class="button" type="submit">Criar Linha</button>

</form>