h1 {
  background: rgb(107, 163, 185);
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(12, 55, 71);
  text-align: center;
  font-weight: 900;
}


.text-center {
  width: 100%;
  margin: 0 auto;
}

*/ .file-selector {
  float: left;
  padding: 30px;
}

.text-center .btn-readyToUpload {
  visibility: hidden;
}

.text-center .btn-readyToUploadMdv {
  visibility: hidden;
}

.importacaoClass {
  float: left;
  font-size: 20px;
  line-height: 0.72em;
  padding: 35px;
  border-radius: 10px;
}
