<h1>Importação de dados através de ficheiro</h1><br>

<div class="importacaoClass">
    <div class="text-center">
        <input class="file-selector" type="file" (change)="onChange($event)">
        <br>
        <button (click)="onUploadMdr()" class="btn-readyToUpload" id="btn-readyToUpload">
            Upload
        </button>
    </div>

    <div class="text-center">
        <input class="file-selector" type="file" (change)="onChangeMdv($event)">
        <br>
        <button (click)="onUploadMdv()" class="btn-readyToUploadMdv" id="btn-readyToUploadMdv">
            Upload
        </button>
    </div>

    <!--Flag variable is used here-->
    <div class="container" *ngIf="loading">
        <h3>Loading ...</h3>
    </div>

</div>