<h1 id= "TitlePageLinhas">Criar Bloco de Trabalho</h1>
<form [formGroup]="createBlocoForm">
  <div>
    <label id="servicoViaturaLabel" for="servicoViatura"><br>
        Servico de Viatura
    </label>
    <select formControlName="idServicoViatura" id="idServicoViatura" (change)="onFocusOutServicoEvent($event)">
      <option *ngFor="let servicoViatura of servicosViatura; let i = index" [value]="servicosViatura[i].idServicoViatura">
        {{servicosViatura[i].codServicoViatura}}
      </option>
    </select>
  </div>

  <div>
    <label id="viagemLabel" for="viagem"><br>
        Viagem
    </label>
    <select formControlName="idViagem" id="idViagem">
      <option *ngFor="let viagem of viagens; let i = index" [value]="viagens[i].viagemId">
        {{viagens[i].linha}}>{{viagens[i].percurso}}>{{viagens[i].horaSaida}}
      </option>
    </select>
    <button id="adicionaViagem" class="buttonAddViagem" (click)="addViagem()">Adiciona Viagem</button>
  </div>
  

  <!--<p>Duracao dos blocos : <input id="duracaoBlocos" placeholder="Duracao em segundos."/></p>
  <p>Nº maximo de blocos : <input id="maxBlocos" placeholder="Numero de blocos maximo."/></p>-->

  <br><button id="submitLinhaButton" class="button" (click)="addBloco()">Criar Blocos</button>
</form>
